# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Conda environments
/.conda/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# mypy
.mypy_cache/

# macOS
.DS_Store

# Windows
Thumbs.db
